<div class="pdf-uploader">
  <h1>Contador y Numerador de PDF</h1>

  <label class="dropzone-container"
         (dragover)="onDragOver($event)"
         (drop)="onDrop($event)"
         (dragleave)="onDragLeave($event)"
         [class.hovered]="isHovering"
         [class.disabled]="cargando"
         for="fileInput">

    <div class="dropzone-content">
      <p class="main-text">Arrastra un archivo PDF hasta aquí</p>
      <span class="upload-link">o haz clic para seleccionar</span>
      <p class="file-info">Tipo permitido: <strong>PDF</strong></p>
      <p class="file-hint" *ngIf="archivo">{{ archivo.name }}</p>
    </div>
  </label>

  <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="application/pdf" hidden [disabled]="cargando" />

 <button class="upload-btn" (click)="enviarPDF()" [disabled]="!archivo || cargando">
  <div class="btn-content">
    <ng-container *ngIf="!cargando">Procesar PDF</ng-container>
    <mat-spinner *ngIf="cargando" diameter="20" strokeWidth="3"></mat-spinner>
  </div>
</button>


  <p class="nota">El archivo será enumerado en la esquina superior derecha y se descargará automáticamente.</p>
</div>
